@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

body {
    font-family: "Nunito", sans-serif;
}

.navbar {
    background-color: #292929;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.navbar a:hover {
    color: #0062cc;
}

.navbar .logo {
    font-weight: bold;
    font-size: 2rem;
    color: #ffffff;
}

.navbar .nav-items {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
}

.navbar .nav-items a {
    font-weight: 500;
    font-size: 1rem;
}

.navbar .nav-items .active {
    color: #0079d3;
    border-bottom: 2px solid #0079d3;
    padding-bottom: 2px;
}

.navbar .nav-items .active:hover {
    color: #0062cc;
}

.card {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.button {
    transition: background-color 0.3s ease-in-out;
}

.button:hover {
    background-color: #0079d3;
    color: #ffffff;
}

.footer {
    background-color: #292929;
    color: #ffffff;
    padding: 2rem 0;
    border-radius: 8px;
}

.footer p {
    font-size: 0.9rem;
}

.footer strong {
    font-weight: bold;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    margin-right: 1rem;
}

.footer a:hover {
    color: #0079d3;
    text-decoration: underline;
}

.footer strong {
    font-weight: bold;
    color: #ffffff;
}