{% extends 'core/base.html' %}
{% block title %} {{ post.title }} | {% endblock%}

{% block content %}

{% load static %}

<head>
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/blogdetails.css' %}" />

</head>

<section class="section">
  <div class="columns">
    <div class="column is-10 is-offset-1">
      <div class="container">
        <div class="content is-medium">

          <p class="media-box">
            <strong><a href="{% url 'categorypageview' post.category.slug %}">Category: {{ post.category }}</a></strong>
            <br>
            <strong>Author: Sitam Meur</strong>
          </p>

          <hr>
          
          {% if post.image %}
            <figure class="image is-16by9">
              <img src="{{ post.image.url }}" alt="{{ post.image.name }}" class="blog-image" />
            </figure>
          {% endif %}

          <h2 class="subtitle is-4">
            <span class="time-ago">{{ post.created_at | timesince }}</span> ago
          </h2>

          <h1 class="title is-underline">{{ post.title }}</h1>
          <p>
            <strong><q>{{ post.intro }}</q></strong>
          </p>
          <div class="post-body">{{ post.body | safe }}</div>

          <hr />

          <h2 class="subtitle is-4">Comments</h2>
          <form method="post">
            {% csrf_token %} {{ form.as_p }}

            <div class="field">
              <div class="control">
                <button class="button is-link mb-4">Submit</button>
              </div>
            </div>
          </form>

          {% for comment in post.comments.all %}
          <div class="media box">
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>{{ comment.name }}</strong>
                  <br />
                  {{ comment.body }}
                  <br />
                  <small><span class="time-ago">{{ comment.created_at | timesince }}</span> ago</small>
                </p>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>
</section>

{% endblock %}