<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %} {% endblock %} TechCrunch</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/core/base.css' %}" />
  <!-- <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../css/bulma-divider.min.css"/> -->


</head>

<body>
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'frontpageview' %}">
          <strong>TechCrunch</strong>
        </a>
        <span class="navbar-burger burger" data-target="navbarMenu">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <form method="get" action="{% url 'search' %}">
            <div class="control has-icons-left">
              <input class="input is-rounded" name="query" type="text" placeholder="Search" />
              <span class="icon is-left">
                <i class="fa fa-search"></i>
              </span>
            </div>
            </form>
          </div>
          <a class="navbar-item is-size-5 has-text-weight-semibold">Home</a>
          <a class="navbar-item is-size-5 has-text-weight-semibold">Examples</a>
          <a class="navbar-item is-size-5 has-text-weight-semibold">Features</a>
        </div>
      </div>
    </div>
  </nav>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-three-quarters">
          {% block content %}
          <!-- Blog content goes here -->
          {% endblock %}
        </div>
        <div class="column">
          <div class="card">
            <div class="card-content">
              <h3 class="title is-4">Getting Started</h3>
              <p>
                Welcome to TechCrunch Blog! Get started by exploring our
                latest articles, tutorials, and news. Stay up to date with the
                latest technology trends and innovations.
              </p>
              <a href="https://medium.com/@sitammeur" class="button is-primary is-fullwidth my-3">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>TechCrunch - Blog</strong> by
        <a href="https://www.linkedin.com/in/sitammeur/">Sitam Meur</a>
      </p>
    </div>
  </footer>
</body>

</html>