<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %} TechSage 🤖</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{% static 'styles/base.css' %}"
    />
    <style>
      /* Ensure iframe container fills entire viewport */
      #iframe-container {
        width: 100%;
        height: 100%;
      }
    </style>
  </head>

  <body>
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="{% url 'frontpageview' %}">
            <strong>TechwithTea 🍵</strong>
          </a>
          <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <form method="get" action="{% url 'search' %}">
                <div class="control has-icons-left">
                  <input
                    class="input is-rounded"
                    name="query"
                    type="text"
                    placeholder="Search"
                  />
                  <span class="icon is-left">
                    <i class="fa fa-search"></i>
                  </span>
                </div>
              </form>
            </div>
            <a
              class="navbar-item is-size-5 has-text-weight-semibold"
              href="{% url 'frontpageview' %}"
              >Home</a
            >
            <a
              class="navbar-item is-size-5 has-text-weight-semibold"
              href="{% url 'aboutpageview' %}"
              >About</a
            >
            <a
              class="navbar-item is-size-5 has-text-weight-semibold"
              href="{% url 'chatpageview' %}"
              >🤖 Chat</a
            >
          </div>
        </div>
      </div>
    </nav>

    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-three-quarters">
            {% block content %}
            <!-- Blog content goes here -->
            <div id="iframe-container">
              <iframe
                id="iframe"
                src="https://sitammeur-techsage.hf.space"
                frameborder="0"
                width="850"
                height="450"
              ></iframe>
            </div>
            {% endblock %}
          </div>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>TechwithTea 🍵</strong> by
          <a href="https://github.com/sitamgithub-MSIT">Sitam Meur</a>
        </p>
      </div>
    </footer>

    <script src="{% static 'js/iframe.js' %}"></script>
  </body>
</html>
