{% extends 'core/base.html' %}
{% block title %}Home | {% endblock %}

{% block content %}

{% load static %}

<head>
  <link
    rel="stylesheet"
    type="text/css"
    media="screen"
    href="{% static 'styles/core/frontpage.css' %}"
  />
</head>

<section class="hero">
  <div class="container">
    <h1 class="hero-title">
      <bold>Welcome to TechCrunch Blog</bold>
    </h1>
    <p class="hero-intro">
      Stay informed, inspired, and ahead of the curve in the world of
      technology.
    </p>
    <div class="hero-action">
      <p class="hero-note">
        <strong>Start exploring our latest articles and insights!</strong>
      </p>
    </div>
  </div>
</section>
<section class="section">
  <div class="columns">
    <div class="column is-10 is-offset-1">
      <div class="container">
        {% for post in posts %}
        <div class="content is-medium">
          <a
            href="{% url 'blogpageview' post.category.slug post.slug %}"
            title="Read more about {{ post.title }}"
          >
            {% if post.image %}
            <figure class="image is-16by9">
              <img
                src="{{ post.image.url }}"
                alt="{{ post.image.name }}"
                class="blog-image"
              />
            </figure>
            {% endif %}
            <h2
              class="subtitle is-4 subtitle-bold"
              style="color: #000000; font-size: 1.5rem"
            >
              <span class="time-ago">{{ post.created_at | timesince }}</span>
              ago
            </h2>
            <h1
              class="title is-underline"
              style="color: #000000; font-size: 3rem"
            >
              {{ post.title }}
            </h1>
            <p style="color: #000000">
              <q>{{ post.intro }}</q>
            </p>
          </a>
        </div>
        <hr class="blog-separator" />
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="columns">
    <div class="column is-8 is-offset-2">
      <div class="container has-text-centered">
        <div class="newsletter-hero">
          <div class="newsletter-body">
            <h2 class="newsletter-title">
              <strong>Sign up for our newsletter</strong>
            </h2>
            <div class="newsletter-form">
              <div class="field has-addons has-addons-centered">
                <div class="control is-expanded">
                  <input
                    class="input newsletter-input"
                    type="text"
                    placeholder="Email address"
                  />
                </div>
                <div class="control">
                  <a class="button is-info newsletter-button"> Subscribe </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
